
класс Route
  Должен создаваться из объекта со свойствами POST, GET, PUT, DELETE,
    значениями которых являются функции
  Должен уметь мёржиться с другим таким объектом

На старте сервера api-модуль загружает все роуты из всех вложенных файлов, собирая их в один объект-дерево
    Сначала сканируется папка и подпапки, составляется дерево файлов-роутов
    Затем каждый найденный файл-роут импортируется,
    из импортированного объекта создаётся роут и добавляется в объект-дерево




Рекурсивная функция для загрузки объектов api
  Принимает имя папки или несколько имён, разделённых слэшами, означающие путь
  Возвращает объект, собранный из указанной папки и её подпапок

  Читает папку, получая массив имён подпапок/файлов
  Проходит по массиву и для кадого элемента в нём
    если это папка
      вызывает такую же функцию для путь+имя_элемента
      возвращает новый объект с вставленным в одноимённое свойство результатом
    иначе если это js файл
      возвращает новый объект с импортированным в одноимённое свойство файлом
